# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET build
**/bin/
**/obj/
**/TestResults/

# VS Code (giữ file chia sẻ nếu muốn)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Logs
*.log

# React/Node
**/node_modules/
**/dist/
**/build/
**/.cache/

# Env
*.env
*.env.*
!.env.example

# EF/Secrets (tùy team)
**/appsettings.*.local.json
**/secrets.json